<html>

<head>
  <script></script>
</head>

<body>
    <div class="container">
        <h2>Bill for treatment charges</h2>
        <table class="table" id="billTable">
            <thead>
                <tr>
                    <th>Procedure</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td><b>Total</b></td>
                    <td ng-bind="billTotal"></td>
                </tr>
                <tr>
                    <td>Advance payment</td>
                    <td>
                        <input type="text" ng-model="billAdvance" ng-change="updateBillTotal();">
                    </td>
                </tr>
                <tr>
                    <td>Balance to be paid</td>
                    <td>
                        {{billRemaining}}
                    </td>
                </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="x in billables">
                <td>{{x.name}}</td>
                <td><input type="text" ng-model="x.amount" ng-change="updateBillTotal();"></td>
              </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
