<div class="container">
  <div>
    <h2>Bill for treatment charges</h2>
    <table class="table" id="billTable">
        <thead>
            <tr>
                <th>Procedure</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in billables">
            <td>{{x.name}}</td>
            <td><input type="text" ng-model="x.amount" ng-change="updateBillBalance();"></td>
          </tr>
          <tr>
              <td class="billBalance">Total</td>
              <td ng-bind="billBalance"></td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="artifactPreview">
    <div class="artifactTitle">Bill</div>
  </div>
</div>
