<!DOCTYPE html>
<html lang="en" ng-app="smruti">

<head>
  <title>Smruti</title>
  <link rel="stylesheet" href="style.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>

<body ng-controller="smrutiController">
  <div id="root">
    <div class="rootTitle">Smruti</div>
    <div id="navOptions">
      <a class="actionLink" href="" ng-click="setTemplate('certificate')">Certificate</a>
      <a class="actionLink" href="" ng-click="setTemplate('bill')">Bill</a>
      <a class="actionLink" href="" ng-click="setTemplate('discharge')">Discharge</a>
    </div>
    <div class="container contentArea" ng-include="template.url">
    </div>
    <div>
      <div id="generateLink"><a class="actionLink" href="" ng-click="generate()">Generate</a></div>
    </div>
  </div>
</body>

</html>
