#root {
  font-family: Helvetica, sans-serif;
}

.rootTitle {
  font-size: 3em;
}

button {
  background: #000000;
  border: none;
  color: #ffffff;
  font-size: 1.25em;
  padding: 10px;
}

.container {
  background-color: #ffffb3;
  padding: 10px;
  width: 75%;
}

.actionLink {
  background-color: #ffcc00;
  color: #806600;
  padding: 5px;
  text-decoration: none;
}

.formSentence {
  padding: 5px;
}

.sentenceInput {
  background-color: #e6e6ff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9999ff;
  padding: 3px;
}

.input-group {
  padding: 5px;
}

.nav .active {
  background: #dcdcdc;
}

textarea {
  width: 100%;
  height: 100%;
}
