body {
  padding: 40px;
}

.formSentence {
  padding: 5px;
}

.sentenceInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
}

.input-group {
  padding: 5px;
}

.nav .active {
  background: #FFF;
}
