#root {
  font-family: Helvetica, sans-serif;
}

.rootTitle {
  font-size: 3em;
  margin: 10px;
}

#navOptions {
    margin: 10px;
}

button {
  background: #000000;
  border: none;
  color: #ffffff;
  font-size: 1.25em;
  padding: 10px;
}

.container {
  background-color: #dddddd;
  margin: 10px;
  padding: 10px;
  width: 75%;
}

.actionLink {
  /*background-color: #555555;*/
  color: #444444;
  font-size: 1.25em;
  padding: 10px;
  text-decoration: none;
}

.actionLink:hover {
    color: #222222;
    font-weight: bold;
}

.formSentence {
  padding: 5px;
}

.sentenceInput {
  background-color: #dddddd;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #666666;/*#9999ff;*/
  padding: 10px;
}

#generateLink {
    /*border: 3px solid #111111;*/
    color: #111111;
    font-size: 1.5em;
}

.input-group {
  padding: 5px;
}

.nav .active {
  background: #dcdcdc;
}

textarea {
  width: 100%;
  height: 100%;
}
